* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }

  article {
    max-width: 680px;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 5rem 1rem;
}

article {
  width: 95%;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

img {
  width: 25%;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}

h1,h2{
  color: #004D80;
}

h1 {
  font-size: 2.4rem;
  margin: 1rem;
  line-height: 3rem;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 300;
  text-align: center;
  border-bottom: .1rem solid;
  margin-top: 2rem;
  margin-bottom: .8rem;
}

h3 {
  margin-top: 2rem;
  margin-bottom: .2rem;
  font-size: .8rem;
  line-height: .8rem;
}

h4 {
  font-size: .8rem;
  font-weight: normal;
  text-decoration: underline;
}

p {
  margin-bottom: .4rem;
}

a {
  color: #000;
}

ul {
  padding: 0;
  list-style-type: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}

.color-linkedin {
  background-image: url('linkedin-brands.svg');
  filter: invert(35%) sepia(42%) saturate(2065%) hue-rotate(171deg) brightness(93%) contrast(102%);
}
.color-github {
  background-image: url('github-brands.svg');
  filter: invert(19%) sepia(19%) saturate(1%) hue-rotate(314deg) brightness(119%) contrast(113%);
}
.color-telegram {
  background-image: url('telegram-brands.svg');
  filter: invert(33%) sepia(90%) saturate(959%) hue-rotate(169deg) brightness(103%) contrast(103%);
}
.color-gmail {
  background-image: url('google-brands.svg');
  filter: invert(46%) sepia(47%) saturate(6646%) hue-rotate(341deg) brightness(95%) contrast(94%);
}

.personal-info {
  font-size: 80%;
  line-height: 130%;
  margin: 2rem 0;
}

.text-center {
  text-align: center;
}

.d-block {
  display: block;
}

.light {
  font-size: 80%;
  color: #cecece;
  margin: 0 .4rem;
}

.presentation p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: center;
}
